- name: Formatação de partição root
  ansible.builtin.filesystem:
    fstype: "{{ formato }}"
    dev: "{{ root }}"
  when: root | length > 0 and formato | length > 0

- name: Formatação de partição home
  ansible.builtin.filesystem:
    fstype: ext4
    dev: "{{ home }}"
  when: home | length > 0

- name: Formatação de partição swap
  ansible.builtin.filesystem:
    fstype: swap
    dev: "{{ swap }}"
  when: swap | length > 0

- name: Formatação de partição boot
  ansible.builtin.filesystem:
    fstype: vfat
    dev: "{{ boot }}"
  when: boot | length > 0

- name: ativar root
  ansible.builtin.mount:
    path: /mnt
    src: "{{ root }}"
    fstype: "{{ formato }}"
    state: mounted
  when: root | length > 0 and formato | length > 0

- name: Criar diretório da home
  ansible.builtin.file:
    path: /mnt/home/
    state: directory
    mode: '0755'
  when: home | length > 0

- name: Criar diretório da boot
  ansible.builtin.file:
    path: /mnt/boot/
    state: directory
    mode: '0755'
  when: boot | length > 0

- name: ativar swap
  ansible.builtin.command:
    cmd: swapon {{ swap }}
  when: swap | length > 0
  ignore_errors: true

- name: ativar home
  ansible.builtin.mount:
    path: /mnt/home
    src: "{{ home }}"
    fstype: ext4
    state: mounted
  when: home | length > 0 and root | length > 0 and formato | length > 0

- name: ativar boot
  ansible.builtin.mount:
    path: /mnt/boot
    src: "{{ boot }}"
    fstype: vfat
    state: mounted
  when: boot | length > 0 and root | length > 0 and formato | length > 0
